<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-buttons slot="start">
        <ion-menu-button>
          <img src="../../../assets/menu_bar.svg" alt="">
        </ion-menu-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="title">Profile</h1>

  <div class="profile-info">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input value="Alaa Rashid"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input value="Mansoura"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input value="Male"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input value="alaarashid3r@gmail.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input value="+201092298048"></ion-input>
    </ion-item>
  </div>
</ion-content>